.tab {
    text-align: center;
}

button {
    display: inline-block;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    color: #fff;
    background-color: #007bff;
    font-weight: 400;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    margin-bottom: 5px;
    line-height: 1.5;
    border-radius: 0.25rem;
}

button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

button.active {
    background-color: rgb(24, 163, 98);
    -webkit-animation: btnWiggle 5s infinite;
    -moz-animation: btnWiggle 5s infinite;
    -o-animation: btnWiggle 5s infinite;
    animation: btnWiggle 5s infinite;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid black;
    margin-bottom: 2rem;
    margin-left: 15px;
    margin-right: 15px;
}

div.tabcontent#about table {
    padding-bottom: 20px;
}

div.tabcontent#first table {
    float: none;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}


div.tabcontent#second table {
    text-align: center;
    width:98%; 
    margin:1%;
    position: center;
    border-collapse: collapse;
    border-bottom: 1px solid rgb(210,210,210);
    border-left: 1px solid rgb(210, 210, 210);
}

div.tabcontent#second td {
    border-right: 1px solid rgb(210,210,210);
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

div.tabcontent#second thead {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
    border: 0px;
    border-top: 1px;
}

thead td:first-child {
    border-top-left-radius: 5px;
}
 
thead td:last-child {
    border-top-right-radius: 5px;
}

thead tr {
    background-color:#007bff;
    color: white;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    list-style-type: none;
}

div.tabcontent#second tr:nth-child(even) {
    background-color: rgb(237,237,237);
}

div.tabcontent#third table {
    padding-top: 20px;
}

table#truthtable td {
    text-align: center;
    width:20%; 
    border-collapse: collapse;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.alert {
    display: none;
}

.alert_show {
    font-weight: bold;
    display: block !important;
    text-align: center; 
    width: auto;
    height: 20px;
    background-color: red;
    color: white;
    padding-bottom: 4px;
    border: 1px solid black;
}
div.alert img {
    padding-bottom: 2px
}

button.demo {
    background-color: red;
    border-color: #be0000;
    font-weight: bold;
}
body {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid #007bff;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    background: url(http://www.sciencefriday.com/wp-content/uploads/2016/08/Artboard-1.png) repeat scroll left top / 50% transparent;
    height: 130px;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 90px;
    line-height: 3.2;
    font-family: 'Orbitron', sans-serif;
    -webkit-text-fill-color: rgb(24, 163, 98);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}


input[type=text] {
    border: 2px solid #007bff;
    border-radius: 4px;
    height: 15px;
}

select {
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border-color: #007bff;
}

@-webkit-keyframes btnWiggle {
    0% {-webkit-transform: rotate(0deg);}
    2% {-webkit-transform: rotate(-1deg);}
    3.5% {-webkit-transform: rotate(1deg);}
    5% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@-o-keyframes btnWiggle {
    0% {-webkit-transform: rotate(0deg);}
    2% {-webkit-transform: rotate(-1deg);}
    3.5% {-webkit-transform: rotate(1deg);}
    5% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@keyframes btnWiggle {
    0% {-webkit-transform: rotate(0deg);}
    2% {-webkit-transform: rotate(-1deg);}
    3.5% {-webkit-transform: rotate(1deg);}
    5% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}